html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #000;
}

.header {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    height: 1006px;
    padding-inline: 4vw;
    background: linear-gradient(180.00deg, rgb(2, 0, 2) 64%,rgba(239, 37, 113, 0.9) 100%);
}

.topbar,
.header-content {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-family: "Michroma", sans-serif;
    color: #1ED9D9;
    font-size: 24px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.section-header {
    font-family: "Zen Tokyo Zoo", system-ui;
    color: #EF2571;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
}

.section-content {
    max-width: 1280px;
    width: 100%;
}

.header-header {
    width: 40%;
    min-width: 500px;
}

.header-content {
    gap: 30px;
}

.header-img {
    width: 55%;
    min-height: 393px;
    height: auto;
    border: 5px solid #EF2571
}

.about {
    padding-inline: 4vw;
    height: 709px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 75px;
    padding-top: 84px;
    background: linear-gradient(0.00deg, rgb(2, 0, 2) 52.5%,rgba(239, 37, 113, 0.9) 100%);
}

.about-header {
    margin: 0;
    text-transform: uppercase;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 74px;
}

.about-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    max-width: 900px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #1ED9D9;
}

.about-images {
    width: 170px;
    height: 170px;
    position: relative;
}

.about-img-1-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.about-img-1-2 {
    position: absolute;
    top: 70px;
    left: 60px;
}

.about-img-2-1 {
    position: absolute;
    top: 0;
    left: 0;
}
.about-img-2-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
}

.why {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 489px;
    row-gap: 47px;
    padding-inline: 4vw;
    background: linear-gradient(0.00deg, rgba(239, 37, 113, 0.6) 18.464%,rgb(2, 0, 2) 58.5%);
}

.why-content {
    display: flex;
    justify-content: space-between;
}

.why-card-img {
    height: 100px;
}

.why-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.why-card-header {
    font-family: "Lexend Giga", sans-serif;
    font-size: 24px;
    color: #1ED9D9;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-block: 10px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 666px;
    padding-inline: 4vw;
    background: linear-gradient(180.00deg, rgba(239, 37, 113, 0.6),rgb(2, 0, 0) 100%);
}

.review-header {
    margin: 0;
}

.review-text {
    font-family: "Lexend Giga", sans-serif;
    font-size: 26px;
    max-width: 1015px;
    text-align: center;
    color: #1ED9D9;
    margin-top: 50px;
}

.name {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #EF2571;
    font-weight: 400;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 4vw;
    background: linear-gradient(180.00deg, rgb(2, 0, 2),rgba(239, 37, 113, 0.58) 100%);
}

.gallery-header {
    margin: 0;
    font-size: 100px;
    font-family: "Zen Tokyo Zoo", system-ui;
    color: #EF2571;
    height: fit-content;
    font-weight: 400;
}

.tabs {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 60px;
    background-color: #1ED9D9;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    color: #EF2571;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 50px;
    margin-top: 176px;
}

.gallery-card {
    width: 100%;
    height: 500px;
    background: rgb(217, 217, 217);
}

.menu__btn > span,
.menu__btn > span::after,
.menu__btn > span::before {
  display: block;
  position: absolute;

  width: 100%;
  height: 5px;

  background-color: var(--darkblack);
  border-radius: 30px;

  transition: 0.5s;
}

#menu__toggle {
  opacity: 0;
  width: unset !important;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span::after {
  background-color: #1ED9D9;
}

.menu__btn > span::before {
  background-color: #1ED9D9;
}

.menu__btn > span {
  background-color: #1ED9D9;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  background-color: #1ED9D9;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  background-color: #1ED9D9;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 50px;
  height: 46px;
  cursor: pointer;
  z-index: 6;
}

.hamburger-menu {
    display: none;
    z-index: 1000;
}

.menu__btn > span::before {
  content: "";
  top: -15px;
}

.menu__btn > span::after {
  content: "";
  top: 15px;
}

#menu__toggle:checked ~ .menu__btn > span,
#menu__toggle:checked ~ .menu__btn > span::before,
#menu__toggle:checked ~ .menu__btn > span::after {
  background-color: #EF2571; /* Change to white when toggled */
}

.menu {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    background-color: #000;
    z-index: 999;
    padding-top: 150px;
}

.visible {
    top: 0;
    opacity: 1;
    pointer-events: all;
}

.menu-nav-link {
    font-family: "Michroma", sans-serif;
    color: #1ED9D9;
    font-size: 34px;
}

.menu-nav-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    row-gap: 20px;
}

.logo-link {
    z-index: 1000;
}

.contact {
    height: 500px;
    background: linear-gradient(180.00deg, rgba(239, 37, 113, 0.6),rgba(2, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
}

.form {
    width: 900px;
    height: 500px;
    background-color: #000;
    display: flex;
    align-items: center;
    padding-inline: 30px;
    gap: 40px;
    padding-block: 30px;
    justify-content: space-between;
}

.form-left {
    width: 100%;
    height: 440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    padding-top: 10px;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 10px;
}

.label {
    font-family: "Lexend Giga", sans-serif ;
    font-size: 24px;
    color: #EF2571;
    transition: 0.3s;
    position: absolute;
    top: 6px;
    z-index: 1;
    pointer-events: none;
}

.active {
    color: #1ED9D9;
    top: -25px;
}

textarea {
    height: 100%;
    width: calc(100% - 10px);
    resize: none;
    background-color: transparent;
    border: 1px solid #454545;
    outline: none;
    color: #d1d1d1;
    font-size: 20px;
    font-family: "Lexend Giga", sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    grid-column: span 1;
    grid-row: span 3;
}

.inputs {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    grid-row: span 2;
    grid-column: span 1;
}

.submit-btn {
    height: 50px;
    width: 200px;
    font-family: "Lexend Giga", sans-serif;
    font-size: 20px;
    color: #1ED9D9;
    background-color: #EF2571;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.submit-btn:hover {
    border: 1px solid #EF2571;
    color: #EF2571;
    background-color: transparent;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #EF2571;
    outline: none;
    transition: 0.3s;
    height: 40px;
    color: #d1d1d1;
    font-size: 20px;
    font-family: "Lexend Giga", sans-serif;
}

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focused {
    border-bottom: 1px solid #1ED9D9;
}

.contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contact-link {
    font-size: 18px;
    color: #1ED9D9;
    font-family: "Lexend Giga", sans-serif;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: center;
    padding-inline: 4vw;
    height: 400px;
    align-items: end;
    padding-bottom: 50px;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-link {
    max-width: 900px;
    font-family: "Michroma", sans-serif;
    font-size: 16px;
    color: #1ED9D9;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: end;
    grid-column: span 1;
    grid-row: span 1;
}

.footer-nav-link {
    font-size: 20px;
}

.footer-links span {
    text-decoration: underline;
}

.footer-nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
}

.license {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    background-color: #000;
    margin-top: 40px;
}

.contact-info-2 {
    display: none;
}

.license div {
    display: flex;
    gap: 40px;
}

.footer-logo {
    height: 110px;
}

@media (max-width: 1280px) {
    .about-text {
        width: 75%;
    }

    .about-content {
        gap: 50px;
    }
}

@media (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        height: fit-content;
    }

    .gallery {
        height: fit-content;
    }

    .gallery-card {
        height: 600px;
    }
}

@media (max-width: 1100px) {
    .nav-list {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .header-content {
        flex-direction: column;
        gap: 0;
    }

    .header-header {
        width: 100%;
    }

    .header-img {
        width: 100%;
    }

    .header {
        height: 1300px;
    }

    .why-content {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 100px
    }

    .logo-img {
        height: 120px;
    }
}

@media (max-width: 1000px) {
    .about {
        height: 850px;
    }

    .gallery-card {
        height: 500px;
    }
}


@media (max-width: 980px) {
    .form-right {
        height: 90%;
        width: 50%;
    }

    textarea {
        width: calc(100% - 10px);
    }

    .footer {
        height: 200px;
    }

    .form {
        width: unset;
    }

    .contact {
        height: 700px;
        background: linear-gradient(180.00deg, rgba(239, 37, 113, 0.6),rgba(2, 0, 0, 1) 20%);
    }
}

@media (max-width: 750px) {
    .form {
        width: 100%;
        flex-direction: column;
        height: auto; /* Adjust height to auto for better content fitting */
    }

    .contact {
        overflow: hidden;
        padding-bottom: 0;
        background: linear-gradient(180deg, rgba(239, 37, 113, 0.6), rgba(2, 0, 0, 1) 20%);
        height: auto; /* Adjust height to auto for better responsiveness */
    }

    .contact-content {
        padding-inline: 4vw;
    }

    .contact-info {
        display: none;
    }

    .contact-info-2 {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .contact-link {
        color: #EF2571;
    }

    .form-left {
        width: 100%;
        margin-bottom: 20px; /* Add margin for spacing */
    }

    .form-right {
        width: 100%; /* Adjust width to 100% for full width on small screens */
        height: auto; /* Adjust height to auto for better fitting */
        margin-bottom: 20px; /* Add margin for spacing */
    }

    .footer {
        height: auto; /* Set height to auto for better content fitting */
        padding: 20px 0; /* Add padding for spacing */
    }

    textarea {
        width: calc(100% - 10px);
        order: 2;
        margin-top: 10px; /* Add margin for spacing */
    }

    .inputs {
        order: 1;
        margin-bottom: 10px; /* Add margin for spacing */
    }

    .buttons {
        order: 3;
        margin-top: 10px; /* Add margin for spacing */
    }

    .inputs {
        grid-column: span 2;
        grid-row: span 1;
    }

    textarea {
        grid-column: span 2;
        grid-row: span 1;
    }

    .buttons {
        grid-column: span 2;
        grid-row:  span 1;
    }

    .contact-header {
        font-size: 60px;
    }
}


@media (max-width: 900px) {
    .footer-topbar {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .about-content {
        flex-direction: column;
        gap: 10px;
    }

    .about-content:nth-child(1) {
        flex-direction: column-reverse;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }

    .about {
        height: 1100px;
    }

    .gallery-card {
        height: 450px;
    }
} 

@media (max-width: 780px) {
    .why-content {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    .why {
        height: fit-content;
        padding-bottom: 50px;
    }
    
    .review-header {
        line-height: 70%;
        text-align: center;
    }

    .cards {
        gap: 20px;
    }

    .gallery-card {
        height: 420px;
    }
}

@media (max-width: 900px) {
    .footer-nav-list {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        height: 600px;
    }

    .license {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}

@media (max-width: 650px) {
    .about {
        height: 1200px;
    }

    .header-header {
        font-size: 50px;
        min-width: unset;
    }

    .header {
        height: 1150px;
    }

    .review {
        height: fit-content;
        padding-block: 100px;
    }

    .gallery-card {
        height: 380px;
    }

    .tabs {
        gap: 20px;
    }

    .logo-img {
        height: 80px;
    }

    .footer-logo {
        height: 150px;
    }

    .menu__btn > span,
    .menu__btn > span::after,
    .menu__btn > span::before {
    display: block;
    position: absolute;

    width: 100%;
    height: 3px;

    border-radius: 30px;

    transition: 0.5s;
    }

    .menu__btn {
        width: 40px;
    }

    .menu__btn > span::before {
      content: "";
      top: -10px;
    }
      
    .menu__btn > span::after {
      content: "";
      top: 10px;
    }

    .header-img {
        min-height: 320px;
    }

    .header {
        height: 900px;
    }

    .contact-header {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    .about {
        height: 1340px;
    }

    .about-text {
        font-size: 20px;
    }

    .header-header {
        font-size: 40px;
    }
    
    .header {
        height: 1050px;
    }

    .about-header {
        font-size: 50px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-card {
        height: 500px;
    }

    .tab {
        font-size: 24px;
    }

    .header-img {
        min-height: 260px;
    }

    .header {
        height: 700px;
    }

    .contact-header {
        font-size: 40px;
    }
}

@media (max-width: 450px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .license {
        background-color: transparent;
    }

    .footer {
        padding-top: 100px;
    }
}

@media (max-width: 400px) {
    .header-header {
        font-size: 30px;
    }

    .header-img {
        min-height: 200px;
    }

    .header {
        height: 600px;
    }
}